<link href="offcanvas.css" rel="stylesheet">
    
  <body>
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h2>欢迎来到在线选课系统</h2>
            <p>这个样本系统是基于国科大研究生课程(高级软件工程)开发的项目,目的是帮助入门者学习RoR(Ruby on Rails)。</p>
            <p>增加功能：</p>
            <ul>
              <li class="text-danger">处理选课冲突、提供冲突信息</li>
              <li class="text-danger">统计选课学分,增加选课的开放、关闭功能</li>
              <li class="text-danger">快速筛选课程</li>
              <li class="text-danger">查询课表及课程详情</li>
            </ul>
          </div>
          <div class="row">
            <div class="col-xs-6 col-lg-4">
              <h2>英语B免修考试报名通知</h2>
              <p>2018-2019学年秋季学期末英语B考试定于2019年1月5日（周六）上午进行，相关事宜见详情。</p>
              <p><a class="btn btn-default" href="#" role="button">详情 &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a class="list-group-item active">快速通道</a>
            <a href="http://v.ucas.ac.cn/main/index.do?menuCode=1&r=0.9129389179396971" class="list-group-item">实景课堂</a>
            <a href="http://payment.ucas.ac.cn/showPublic" class="list-group-item">一卡通支付</a>
            <a href="http://service.ucas.ac.cn/" class="list-group-item">校园服务</a>
            <a href="http://sep.ucas.ac.cn/" class="list-group-item">信息门户</a>
            <a href="http://job.ucas.ac.cn/" class="list-group-item">就业信息</a>
            <a href="http://www.cas.cn/" class="list-group-item">中国科学院</a>
            <a href="http://lib.ucas.ac.cn/" class="list-group-item">图书馆</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

    </div><!--/.container-->
  </body>
